In [1]:
# Q1: Write a code to create a string with your name and print it.
name = "Vishu Patil"
print(name)

Vishu Patil

In [2]:
# Q2: Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
# Q3: Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# Q4: Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# Q6: Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
# Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
# Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [13]:
# Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
# Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [15]:
# Q15: Write a code to create a tuple containing three fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [17]:
# Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
# Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
# Q21: Write a code to create a dictionary with keys "name", "age", and "city", and print it
d = {"name": "John", "age": 25, "city": "Mumbai"}
print(d)

{'name': 'John', 'age': 25, 'city': 'Mumbai'}

In [22]:
# Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [24]:
# Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [26]:
# Q26: Write a code to create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
t = (10, 20, 30)
d = {"a": 1, "b": 2}
print(lst, t, d)

[1, 2, 3] (10, 20, 30) {'a': 1, 'b': 2}

In [27]:
# Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[23, 25, 37, 51, 70]

In [28]:
# Q28: Write a code to create a list with strings and print the element at the third index
lst = ["apple", "banana", "mango", "kiwi", "grapes"]
print(lst[3])

kiwi

In [30]:
# Q29: Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Q30: Write a code to convert a list of strings into a set
lst = ["apple", "banana", "apple", "mango"]
print(set(lst))

{'mango', 'apple', 'banana'}